.layoutWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContent {
  display: flex;
  flex: 1;
}

.pageContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* height: 100%; */
}
