.fullProductWrapper {
  background: var(--background-four);
  border: 1px solid var(--border-one);
  display: flex;
  flex-direction: column;
  height: 85%;
  margin: auto;
  width: 50%;
}

@media (max-width: 768px) {
  .fullProductWrapper {
    margin: 10px auto;
    overflow-y: hidden;
    width: 70%;
  }
}

.top {
  align-items: center;
  background-color: var(--background-images);
  display: flex;
  height: 50%;
  justify-content: center;
  width: 100%;
}

.imageWrapper {
  height: 100%;
  width: 100%;
}

.imageWrapper img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.bottom {
  background-color: var(--background-four);
  border-top: 1px solid var(--border-one);
  color: var(--font-two);
  display: flex;
  flex-direction: column;
  height: 90%;
  letter-spacing: 1px;
  overflow: hidden;
  padding-top: 15px;
  width: 100%;
}

.textWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 70%;
  overflow-y: auto;
  padding: 15px;
}

.productTitle {
  text-align: center;
  font-size: 2rem;
  margin: 16px;
}

.clickWrapper {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  padding: 25px 0 25px 15px;
}