.previewContentWrapper {
  display: grid;
  flex: 1;
  gap: 14px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  .previewContentWrapper {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }
}

.previewProductCards {
  align-items: center;
  background: var(--background-one);
  border: 1px solid var(--border-one);
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}

.previewProductCards:hover {
  margin: 3% 8%;
}

.top {
  background-color: var(--background-images);
  display: flex;
  height: 50%;
  width: 100%;
}

.imageWrapper {
  height: 100%;
  width: 100%;
}

.imageWrapper img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.bottom {
  background-color: var(--background-four);
  border-top: 1px solid var(--border-one);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 50%;
  width: 100%;
}

.bottomDiv {
  color: var(--font-three);
  display: flex;
  flex-direction: column;
  flex: 1;
  letter-spacing: 1px;
  line-height: 1.8;
  padding: 15px 0 0 25px;
}

@media (max-width: 768px) {
  .bottomDiv {
    line-height: normal;
  }
}

.productNav {
  padding-bottom: 15px;
}