.previewContentWrapper {
  display: grid;
  flex: 1;
  gap: 14px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.previewProductCards {
  align-items: center;
  background: var(--background-secondary);
  border: 1px solid var(--border-primary);
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}