.productCard {
  background: var(--background-four);
  border: 1px solid var(--border-one);
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 25px auto;
  width: calc(20% - 10px);
}

.top {
  align-items: center;
  background-color: var(--background-images);
  display: flex;
  height: 50%;
  justify-content: center;
  width: 100%;
}

.imageWrapper {
  height: 70%;
  width: 70%;
}

.imageWrapper img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.bottom {
  background-color: var(--background-four);
  border-top: 1px solid var(--border-one);
  color: var(--font-five);
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.productTitle {
  text-align: center;
  font-size: 2rem;
  margin: 16px;
}
