.productTitle {
  text-align: center;
  font-size: 2rem;
  margin: 16px;
}

.productCard {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  display: flex;
  flex-direction: column;
  height: auto;
  width: calc(25% - 10px);
  padding: 24px;
}