.previewWrapper {
  background: var(--background-three);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.previewHeader {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding-top: 5px;
}

