.navigationWrapper {
  align-items: center;
  display: flex;
  gap: 15px;
  z-index: 11;
}

.navItem {
  align-items: center;
  border-left: 1px solid var(--border-one);
  color: var(--font-six);
  display: flex;
  font-style: normal;
  height: 100%;
  padding: 13px 18px;
  text-decoration: none;
}

.navItem:hover {
  font-weight: normal;
  text-decoration: underline;
}

.activeNav {
  color: var(--font-four);
}

@media (max-width: 768px) {
  .navItem {
    display: none;
  }
}

.cartIcon {
  border-left: 1px solid var(--border-one);
  color: var(--font-six);
  cursor: pointer;
  display: flex;
  padding: 8px 18px;
}