.navigationWrapper {
  display: flex;
  gap: 15px;
}

.cartIcon {
  align-items: center;
  border-left: 1px solid var(--border-secondary);
  color: #8a9a7a;
  display: flex;
  padding: 8px 18px;
}

.navItem {
  align-items: center;
  border-left: 1px solid var(--border-secondary);
  color: #8a9a7a;
  display: flex;
  height: 100%;
  padding: 8px 18px;
  text-decoration: none;
}