.navigationWrapper {
  align-items: center;
  display: flex;
  gap: 15px;
}

.navItem {
  align-items: center;
  border-left: 1px solid var(--border-one);
  color: var(--font-six);
  display: flex;
  height: 100%;
  padding: 13px 18px;
  text-decoration: none;
}

.cartIcon {
  border-left: 1px solid var(--border-one);
  color: var(--font-six);
  cursor: pointer;
  display: flex;
  padding: 8px 18px;
}