.shoppingCartWrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding-right: 32px;
  position: relative;
}

.shoppingCartContent {
  background-color: var(--background-three);
  border-left: 1px solid var(--background-one);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
  gap: 5px;
  justify-content: space-evenly;
  right: 0px;
  position: fixed;
  top: 100px;  
  width: 300px;
  transform: translateX(100%);
  transition: transform 400ms ease-in-out;
}

.displayCart {
  transform: translateX(0);
}

.productName {
  font-size: 2rem;
}

.totalPrice {
  color: black;
}