.dropDownWrapper {
  display: none;
  position: relative;
}

@media (max-width: 768px) {
  .dropDownIcon {
    border-left: 1px solid var(--border-one);
    color: var(--font-six);
    cursor: pointer;
    display: flex;
    padding: 8px 18px;
  }

  .dropDownWrapper {
    color: var(--font-six);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .dropDownContent {
    background-color: var(--background-three);
    border: 1px solid var(--background-one);
    color: var(--font-three);
    display: flex;
    font-size: 18px;
    flex-direction: column;
    gap: 15px;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 72px;
    transition:max-height 400ms ease-in-out;
    width: 100vw;
    z-index: 10;
  }

  .navItemWrapper {
    padding: 2px 0 0 10px;
  }

  .navItem {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .displayDropDown {
    max-height: 1000px;
  }

  .dropDownOverlay {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }
}

