.headerWrapper {
  align-items: center;
  background: var(--background-one);
  border-bottom: var(--border-two);
  color: var(--font-six);
  display: flex;
  height: 100px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .headerWrapper {
    padding: 13px 28px;
  }
}

.titleWrapper {
  display: flex;
}

.title {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .title {
    display: none;
  }
}