.headerWrapper {
  align-items: center;
  background: var(--background-primary);
  border-bottom: 2px solid var(--border-primary);
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 28px;
}

.titleWrapper {
  display: flex;
}

.title {
  font-size: 3rem;
}