.headerWrapper {
  align-items: center;
  background: var(--background-one);
  border-bottom: var(--border-two);
  color: var(--font-six);
  display: flex;
  max-height: 100px;
  min-height: 100px;
  justify-content: space-between;
  z-index: 11;
}

.titleWrapper {
  display: flex;
}

.title {
  font-family: "Amarante", serif;
  font-size: 3rem;
  font-style: italic;
}

@media (max-width: 1028px) {
  .title {
    display: none;
  }
}