.cartItemWrapper {
  align-items: center;
  color: var(--font-four);
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 10px;
}

.itemQtyContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.qtyToggle {
  text-decoration: none;
}