.cartItemWrapper {
  align-items: center;
  color: var(--font-four);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  letter-spacing: 1px;
  padding: 10px;
}

.itemQtyContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.qtyToggle {
  text-decoration: none;
}