.checkoutSummaryWrapper {
  background: var(--background-one);
  border-top: 1px solid var(--border-one);
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  min-height: 30vh;
}

.cartTitle {
  color: var(--font-four);
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 3px;
  text-align: center;
}

.checkoutInnerWrapper {
  display: flex;
  flex: 1;
  height: 80%;
  justify-content: center;
}

.checkoutItemWrapper {
  align-items: center;
  background: var(--background-one);
  color: var(--font-three);
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  letter-spacing: 1px;
  margin-right: 4%;
  padding: 12px;
}

.itemQtyContainer {
  align-items: center;
  background: var(--background-one);
  display: flex;
  gap: 10px;
}

.totalPrice {
  align-items: center;
  background-color: var(--background-one);
  color: var(--font-two);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 40px;
}