.sideBarWrapper {
  background: var(--background-three);
  border-right: 1px solid var(--border-one);
  border-top: 2px solid var(--border-one);
  display: flex;
  flex-direction: column;
  width: 210px;
  z-index: 10;
}

@media (max-width: 768px) {
  .sideBarWrapper {
    display: none;
  }
}

.sideBarContent {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
}

.sideBarSection {
  border-bottom: 1px solid var(--border-two);
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  padding: 14px 16px;
}

.sideBarSection:nth-child(2) {
  justify-content: space-evenly;
}

.sideBarItem {
  border-bottom: 1px dotted var(--border-one);
  display: flex;
  padding: 5px 0;
}

.navItem {
  color: var(--font-two);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  text-decoration: none;
}

.navItem:hover {
  font-weight: normal;
  text-decoration: underline;
}

.activeNav {
  color: var(--font-four);
  font-style: italic;
}

.productCount {
  cursor: default;
  font-style: normal;
  text-decoration: none;
}

.productCount:hover {
  cursor: default;
}

.iconContainer {
  align-items: center;
  color: var(--font-two);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
